body {
	font-family: georgia;
	color: white;
}

h1 {
	padding: 3px;
	border: 3px solid grey;
	background: grey;
	text-transform: uppercase;
	margin: 4px;
}

h1:hover {
	background: white;
	color: grey;
}