* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	background-color: #c7c7c7;
	color: #99999;
}

.navbar-default {
	position: relative;
}

.navbar-toggle {
	clear: both;
	margin-top: 7px;
}

.nav-bar {
	width: 100%;
	height: 50px;
}


.navbar-header a h1 {
	margin-left: 5px;
}

@media	(min-width: 1200px) {
	.navbar-brand {
		margin: -30px;
	}
}


.navbar-header a:hover, .navbar-header  a:focus, .navbar-header a {
	color: #2F82D5;
	text-decoration: none;
}

.navbar-brand a:hover, .navbar-brand  a:focus, .navbar-brand a {
	color: #2F82D5;
	text-decoration: none;
}

.article-text p {
	font-family: 'Oxygen', serif;
}

.article-text {
	margin: 5px;
	padding: 5px;
	color: white;
	background-color: #2C2B2A;
	border: 3px solid black;
}

#nav-title {
	padding: 10px;
}

#page-body h1, #page-body h2 {
	text-align: center;
	margin-top: 3px;
}

.article-content {
	margin-left: 40px;
	margin-right: 40px;
	overflow: hidden;
	}

@media (min-width: 992px) and (max-width: 1199px)  {
	.article-content {
		margin: 40px;
	}

	.navbar-brand {
		margin: -30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article-content {
		margin: 80px;
	}

	.navbar-brand {
		margin: -30px;
	}
}


@media (max-width: 200px) {

	.nav-title, .navbar-header a h1, .navbar-brand a h1 {
		font-size: 15vw;
	}
}